.header 
     i.fas.fa-exchange-alt.fa-lg.toggle-sidebar.header-icon
     .dropdown.notifaction-contaienr
          i.fa.fa-bell.fa-lg.toggle-notfiactions(id="notifactions" data-toggle="dropdown" aira-haspopup="true" aira-expanded="false")
          .dropdown-menu(aira-labelledby="notifactions")
               .noti-head
                    | Notifactions
                    span 50
               .noti-contnet 
                    ul.list-unstyled
                         li
                              i.fa.fa-envelope.fa-lg
                              | You Git Emails From 
                         li
                              i.fa.fa-money-bill.fa-lg
                              | You Git Money From 
                         li
                              i.fa.fa-thumbs-up.fa-lg
                              |  You Git Liks From 
                         li
                              i.fa.fa-envelope.fa-lg
                              |  You Git Emails From 
                         li
                              i.fa.fa-money-bill.fa-lg
                              |  You Git Money From 
               .noti-footer.text-center: a(href='#') View All Notifactions
     i.fa.fa-expand-alt.fa-lg.toggle-fullscreen.header-icon
     .dropdown.usermenu-contaienr
          .username#usermenu(data-toggle="dropdown" aira-haspopup="true" aira-expanded="false")
               img.avatar.rounded-circle(src="images/avatar2.jpg", alt="avatar")
               span.user Ahmed Rampo
               i.fa.fa-angle-down.fa-lg
          .dropdown-menu.dropdown-menu-right(aira-labelledby="usermenu")
               .user-info
                    h3 Ahmed Ramadan
                    p Premium Member
               hr
               ul.activites-list.list-unstyled
                    li Added Comment On POst  "How To Make Money "
                    li Created Post In  Category "Sicence"
                    li Created Chart On Charts Page
                    li Added Comment On POst  "How To Make Money "
               hr
               .row.usermenu-links
                    .col 
                         .link-box 
                              i.fa.fa-cog.fa-lg.fa-fw
                              span Settings
                    .col  
                         .link-box 
                              i.fa.fa-user.fa-lg.fa-fw
                              span My Profile
                    .col 
                         .link-box 
                              i.fa.fa-power-off.fa-lg.fa-fw
                              span LogOut

          