.sidebar 
    .logo-area.text-center Deshboard
    ul.links-area.list-unstyled
        li: a(href="#" ) HomePage
        li
            a(href="#" ) Forms
            ul.child-links.list-unstyled
                li: a(href="#") input
                li: a(href="#") checkbox
                li: a(href="#") Radio 
                li: a(href="#") textarea
        li
            a(href="#" ) Misc
            ul.child-links.list-unstyled
                li: a(href="#") Loading
                li: a(href="#") Breadcrumbs


