$themes:( green-theme:(color:#00b894), red-theme:(color:#c0392b), blue-theme:(color:#3498db), grey-theme:(color:#2c3e50));
@each $theme,
$map in $themes {
    .#{$theme} {
        .page .sidebar {
            background-color: map-get($map, color);
        }
        .header .usermenu-contaienr .dropdown-menu .user-info h3 {
            color: map-get($map, color);
        }
    }
}