.settings-box {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    z-index: 999;
    transition: .5s;
    .toggle-settings {
        position: absolute;
        left: -48px;
        top: 100px;
        background-color: #fff;
        padding: 15px;
        font-size: 22px;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
    }
    &.hide-settings {
        right: -250px;
    }
    .setting-content {
        .option-box {
            h4 {}
        }
    }
    .color-option {
        ul {
            $colors: #00b894, #c0392b, #3498db, #2c3e50;
            @for $i from 1 through length($colors) {
                li:nth-child(#{$i}) {
                    background-color: nth($colors, $i);
                }
            }
            li {
                width: 24px;
                height: 24px;
                opacity: .7;
                cursor: pointer;
                display: inline-block;
                &.active {
                    opacity: 1;
                }
            }
        }
    }
    .font-option {
        select {
            text-transform: capitalize;
        }
    }
}