.settings-box 
    .toggle-settings
        i.fa.fa-cog.fa-lg.
    .setting-content
        .option-box.color-option
            h4 Color Options
            
            -var themes=[" green-theme","red-theme"," blue-theme","grey-theme"]
            ul.list-unstyled
                each theme in themes 
                    li(data-theme=theme)
            hr
        .option-box
            h4 Font Options
        .option-box
            h4 Sidebar Options